
<div id="tasks"></div>
<h1>This is index</h1>

<button type="button" onclick="getTask()">Get Task</button>

<script>
    function getTask() {

        document.getElementById("tasks").innerHTML += task;
    }
</script>